<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<title>Gmail</title>
<div class="body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="leftcont">
                    <button id="comp" type="button" style="padding-right: 100px; border-bottom: 1px solid #e7eaec; padding-left: 100px;" class="btn btn-comp"> <a class="comp" routerLink="/compose">Compose Mail</a></button>
                    <br>
                    <br>
                    <div class="folders">
                        <ul><p>FOLDERS</p>
                          
                            <a class="fold-in" routerLink="/mail"><button type="button" class="button1"  ><span class="glyphicon glyphicon-inbox"></span>
                                    &nbsp;&nbsp;&nbsp;Inbox
                                </button><span style="background-color:orange; float: right; margin-top: 10px;" class="badge">20</span> </a><br>
                            <a href="send.html" class="fold-in" routerLink="/sendmail"><button class="button1"  style="color: black;border: none;" type="button" ><span
                                        class="glyphicon glyphicon-envelope">&nbsp;</span>
                                    Send Mail</button> <span class="bade"> </span></a><br>
                            <a class="fold-in"><button class="button1"  type="button" ><span
                                        class="glyphicon glyphicon-certificate">&nbsp;</span>Important</button> <span
                                    class="bade"></span></a><br>
                            <a class="fold-in"><button class="button1"  type="button" ><span
                                        class="glyphicon glyphicon-file">&nbsp;</span>
                                    Draft</button><span style="background-color:tomato;float: right; margin-top: 10px;" class="badge">6</span> </a><br>
                            <a class="fold-in"><button class="button1" type="button" ><span
                                        class="glyphicon glyphicon-trash">&nbsp;</span> Trash</button> <span class="bade"></span>
                            </a>
                        </ul>
                    </div>

                    <br>
                    <p id="categories">CATEGARIES</p>
                    <div class="categories">
                        <li>
                            <div id="green"></div><a class="catigory">Work</a>

                        </li>

                        <li>
                            <div id="red"></div><a class="catigory">Document</a>
                        </li>
                        <li>
                            <div id="brown"></div> <a class="catigory">Social</a>
                        </li>

                        <li>
                            <div id="blue"></div><a class="catigory">Advertising</a>
                        </li>

                        <li>
                            <div id="yellow"></div> <a class="catigory">Clients</a>
                        </li>

                    </div>
                    <div class="labels">
                        <p id="labels">LABELS</p>
                        <ul>


                            <p><button type="button" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-tag"></span>
                                    Family </button>
                                <button type="button" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-tag"></span>
                                    Work </button>
                                <button type="button" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-tag"></span>
                                    Home </button> </p>
                            <p><button type="button" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-tag"></span>
                                    Children </button>
                                <button type="button" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-tag"></span>
                                    Holidays </button> </p>
                            <p> <button type="button" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-tag"></span>
                                    Music </button>
                                <button type="button" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-tag"></span>
                                    Photography </button> </p>
                        </ul>
                    </div>
                    <br><br>
                        <br>
                    
                </div>
            </div>

            
            <router-outlet>
            </router-outlet>